<template>
<div class="food-detail">
    <Navbar />
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link to="/" class="text-dark">Home</router-link>
                        </li>
                        <li class="breadcrumb-item">
                            <router-link to="/foods" class="text-dark">Foods</router-link>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><strong>Food Order</strong></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <!-- img -->
                <img :src=" '../assets/images/'  + product.gambar " class="img-fluid shadow" />

            </div>
            <div class="col md-6">
                <h2><strong>Your order : {{product.nama}}</strong></h2>
                <hr>
                <h4>Harga : <strong>Rp. {{product.harga}}</strong></h4>
                <form class="mt-4" v-on:submit.prevent>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Jumlah Porsi yang di beli</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="jumlah porsi" v-model="pesan.jumlah_pemesanan">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Pilihan Tingkatan Pedas</label>
                        <select class="form-control" id="exampleFormControlSelect1" v-model="pesan.keterangan">
                            <option>Pedas</option>
                            <option>Sangat Pedas</option>
                            <option>SAngat Super Pedas</option>
                            <option>Pedas Setan</option>
                            <option>Tidak Pedas</option>

                        </select>
                    </div>
                    <button type="submit" class="btn btn-info" @click="pemesanan">
                        <b-icon-cart></b-icon-cart> Order now !!!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import axios from 'axios'

export default {
    name: 'FoodDetail',
    components: {
        Navbar,
        // CardProduct
    },
    data() {
        return {
            product: {},
            pesan: {}
        }
    },
    methods: {
        setProduct(data) {
            this.product = data
        },
        pemesanan() {
            // console.log(this.pesan);
          if(this.pesan.jumlah_pemesanan){
                this.pesan.products = this.product;
            axios
                .post('http://localhost:3000/keranjangs', this.pesan)
                .then(() => {
                    this.$router.push({path : "/keranjang"})
                    this.$toast.success('Menu telah dipesan', {
                        // optional options Object
                        type : 'success',
                        position : 'top-right',
                        duration : 5000,
                        dismissible : true
                    })

                })
                .catch((err) => console.log(err))
          } else{
               this.$toast.error('silahkan lengkapi pilihannya terlebih dahulu', {
                        // optional options Object
                        type : 'error',
                        position : 'top-right',
                        duration : 5000,
                        dismissible : true
                    });
          }
        }

    },
    mounted() {
        // axios
        axios.get('http://localhost:3000/products/' + this.$route.params.id)
            .then((response) => this.setProduct(response.data))
            .catch((error) => console.log(error))

    }

}
</script>

<style>

</style>
