<template>
<div class="keranjang">
    <Navbar :updateKeranjang="keranjangs" />
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link to="/" class="text-dark">Home</router-link>
                        </li>
                        <li class="breadcrumb-item">
                            <router-link to="/foods" class="text-dark">Foods</router-link>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><strong>Cart</strong></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2><strong>My Cart</strong></h2>
                <div class="table-responsive mt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Makanan</th>
                                <th scope="col">Keterangan</th>
                                <th scope="col">Jumlah</th>
                                <th scope="col">Harga</th>
                                <th scope="col">Total Harga</th>
                                <th scope="col">Hapus</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(keranjang, index) in keranjangs" :key="keranjang.id">
                                <th scope="row">{{index + 1}}</th>
                                <td>
                                    <img :src="'../assets/images/' + keranjang.products.gambar" class="img-fluid shadow" width="250">
                                </td>
                                <td>
                                    <strong>{{keranjang.products.nama}}</strong>
                                </td>
                                <td>
                                    {{ keranjang.keterangan ? keranjang.keterangan : "-" }}
                                </td>
                                <td>
                                    {{ keranjang.jumlah_pemesanan }}
                                </td>
                                <td align="rigth">Rp. {{keranjang.products.harga}}</td>
                                <td align="rigth"><strong>Rp. {{keranjang.products.harga*keranjang.jumlah_pemesanan}}</strong></td>
                                <td align="center"><button class="btn btn-danger" @click="hapusKeranjang(keranjang.id)">
                                        <b-icon-trash></b-icon-trash>
                                    </button>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="6" align="right">
                                    <strong>Bill : </strong>
                                </td>
                                <td><strong>Rp. {{totalHarga}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- form checkout -->
        <div class="row justify-content-end">
            <div class="col-md-4">
                <form class="mt-4" v-on:submit.prevent>
                    <div class="form-group">
                        <label for="nama">Ketikkan Nama Anda : </label>
                        <input type="text" id="nama" class="form-control" v-model="pesan.nama" />
                    </div>
                    <div class="form-group">
                        <label for="noMeja">Nomor Meja Anda : </label>
                        <input type="text" id="noMeja" class="form-control" v-model="pesan.noMeja" />
                    </div>
                    <!-- <div class="form-group">
                        <label for="noMeja">Alamat Anda (jika tidak berada di lokasi rumah makan manalagi) :  </label>
                        <input type="text" class="form-control" v-model="pesan.alamat">
                    </div> -->

                    <button type="submit" class="btn btn-success float-right" @click="checkout">
                        <b-icon-cart></b-icon-cart> Order now !!!
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import axios from 'axios'

export default {
    name: 'Keranjang',
    components: {
        Navbar,
        // CardProduct
    },
    data() {
        return {
            keranjangs: [],
            pesan: {}
        }
    },
    methods: {
        setKeranjangs(data) {
            this.keranjangs = data;
        },

        hapusKeranjang(id) {
            axios
                .delete('http://localhost:3000/keranjangs/' + id)
                .then(() => {
                    this.$toast.error('Anda telah mengcancel orderan', {
                        // optional options Object
                        type: 'error',
                        position: 'top-right',
                        duration: 5000,
                        dismissible: true,
                    });
                    axios
                        .get('http://localhost:3000/keranjangs')
                        .then((response) => this.setKeranjangs(response.data))
                        .catch((error) => console.log(error));
                })
                .catch((error) => console.log(error));
        },
        checkout() {
            // console.log("Pesan : ", this.pesan)
            if (this.pesan.nama && this.pesan.noMeja) {
                this.pesan.keranjangs = this.keranjangs;
                axios
                    .post('http://localhost:3000/pesanans', this.pesan)
                    .then(() => {
// hapus semua cart
                        this.keranjangs.map(function (item) {
                            return axios
                                .delete('http://localhost:3000/keranjangs/' + item.id)
                                .catch((error) => console.log(error));
                        })

                        this.$router.push({
                            path: "/pesanan-sukses"
                        })
                        this.$toast.success('pesanan sukses', {
                            // optional options Object
                            type: 'success',
                            position: 'top-right',
                            duration: 5000,
                            dismissible: true
                        })

                    })
                    .catch((err) => console.log(err))
            } else {
                this.$toast.error('Nama anda dan nomor meja belum di isikan !!!', {
                    // optional options Object
                    type: 'error',
                    position: 'top-right',
                    duration: 5000,
                    dismissible: true
                });
            }
        }
    },
    mounted() {
        axios
            .get('http://localhost:3000/keranjangs')
            .then((response) => this.setKeranjangs(response.data))
            .catch((error) => console.log(error));
    },
    computed: {
        totalHarga() {
            return this.keranjangs.reduce(function (items, data) {
                return items + (data.products.harga * data.jumlah_pemesanan)
            }, 0)
        }
    }

}
</script>

<style>

</style>
