<template>
<div class="pesanan-sukses">
    <Navbar />
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col text-center">
                <h1><strong>Sukses !!!</strong></h1>
                <img src="../assets/images/hero2.png" alt="" width="500px">
                <h3>Pesanan Anda Segera Diproses</h3>
                <h4><strong>Silahkan Menunggu Pesanan Anda</strong></h4>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
    name: 'PesananSukses',
    components: {
        Navbar,
        // CardProduct
    },

}
</script>

<style>

</style>
