<template>
<div class="card shadow">
  <img :src="'assets/images/' + product.gambar" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{product.nama}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text">Harga : Rp. {{product.harga}}</p>

    <router-link href="#" class="btn btn-primary" :to = "'/foods/'+ product.id"><b-icon-cart></b-icon-cart> Order</router-link>
  </div>
</div>
</template>

<script>
export default {
    name : 'CardProduct',
    props : ['product']

}
</script>

<style>

</style>