<template>
<div class="hero">
    <!-- desktop -->
    <div class="d-none d-md-block">
            <div class="row mt-5">
        <div class="col-md-6">
            <div class="d-flex h-100">
                <div class="justify-content-center align-self-center">
                 <h2><strong>Delicious Food Menu</strong>,<br> with your smartphone</h2>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam cum et veritatis quasi aliquid sequi suscipit provident distinctio in officiis quos, quisquam repellat eos alias. Illo accusantium quam unde quas.</p>
                 <router-link class="btn btn-lg btn-info" to="/foods"><b-icon-arrow-right></b-icon-arrow-right>
                  Order your menu</router-link>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <img src="../assets/images/hero.png"  width="100%">
        </div>
    </div>
    </div>
    

<!-- mobile -->
<div class="d-sm-block d-md-none ">
       <div class="row mt-5">
            <div class="col-md-6 mb-3">
            <img src="../assets/images/hero.png"  width="100%">
        </div>
        <div class="col-md-6">
            <div class="d-flex h-100">
                <div class="justify-content-center align-self-center">
                 <h2><strong>Delicious Food Menu</strong>,<br> with your smartphone</h2>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam cum et veritatis quasi aliquid sequi suscipit provident distinctio in officiis quos, quisquam repellat eos alias. Illo accusantium quam unde quas.</p>
                 <button class="btn btn-lg btn-info"><b-icon-arrow-right></b-icon-arrow-right> Order your menu</button>
                </div>
            </div>

        </div>
       
    </div>
    </div>  
     
</div>



  
</template>

<script>
export default {
    name : 'Hero'

}
</script>

<style>

</style>